.btn {
  display: inline-block;
  background: #d4684f;
  padding: 12px 52px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
}
.btn:hover {
  background: #ce5438;
}
.btn img {
  padding-top: 5px;
}
.btn_inactive img {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.btn_inactive:hover {
  background: #d4684f;
}
.hide {
  display: none;
}
body {
  display: none;
}
html {
  background: #2a3845;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 943px;
  margin: 0 auto;
  text-align: center;
}
.container_overflow {
  overflow: hidden;
}
.section {
  background: #2a3845;
}
.section:nth-of-type(even) {
  background: #2f3d4a;
}
@font-face {
  font-family: 'FuturaPTWebLight';
  src: url("FTN35__W.eot");
  src: local('Futura PT Web Light'), local('FuturaPTWebLight'), url("../fonts/FTN35__W.eot?#iefix") format('embedded-opentype'), url("../fonts/FTN35__W.woff") format('woff'), url("../fonts/FTN35__W.ttf") format('truetype'), url("../fonts/FTN35__W.svg#FuturaPTWeb-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'FuturaPTWebLight';
}
h1 {
  font-size: 60px;
  color: #e4aa75;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  margin-top: 68px;
}
.main-section {
  padding-bottom: 60px;
}
.main-section__content {
  margin-top: 70px;
  zoom: 1;
}
.main-section__content:before,
.main-section__content:after {
  content: "";
  display: table;
}
.main-section__content:after {
  clear: both;
}
.main-section__phone {
  position: relative;
  width: 440px;
  height: 660px;
  overflow: hidden;
  float: left;
}
.main-section__phone-menu {
  position: absolute;
  top: 156px;
  left: 63px;
}
.main-section__phone-img {
  width: 419px;
  padding-left: 3px;
}
.main-section__carousel {
  position: absolute;
  top: 225px;
  width: 100%;
  padding: 0 100px;
  padding-right: 47px;
}
.main-section__carousel img {
  width: 240px;
  height: 360px;
  margin-right: 30px;
}
.main-section__carousel img:last-child {
  margin-right: 0;
}
.main-section__carousel .ocarousel_indicators {
  width: 185px;
  margin: 0 auto;
  margin-top: 8px;
}
.main-section__description {
  float: right;
  width: 470px;
  text-align: center;
}
.main-section__icon {
  margin-top: 88px;
  width: 150px;
  display: inline-block;
}
.main-section__title {
  margin-top: 10px;
  margin-bottom: 57px;
}
.main-section__price {
  margin-top: 18px;
}
.progress-section {
  padding-bottom: 90px;
}
.progress-section__title {
  margin-bottom: 20px;
}
.progress-section__title .pink {
  color: #d966a9;
}
.progress-section__title .blue {
  color: #40aeeb;
}
.progress-section__title .orange {
  color: #ef8f14;
}
.progress-section__list {
  width: 839px;
  height: 350px;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.progress-section__item {
  position: absolute;
  width: 180px;
  height: 180px;
}
.progress-section__item.last {
  right: 0;
  left: inherit;
}
.progress-section__item.second {
  left: 50%;
  margin-left: -90px;
  margin-top: 68px;
}
.progress-section__img {
  position: absolute;
  top: 0;
  left: 0;
}
.progress-section__img-full {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  height: 0;
  overflow: hidden;
}
.progress-section__img-full-i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  height: 180px;
}
.progress-section__counter {
  width: 100%;
  font-size: 50.49px;
  position: absolute;
  bottom: -90px;
}
.progress-section__counter.pink {
  color: #d966a9;
}
.progress-section__counter.blue {
  color: #40aeeb;
}
.progress-section__counter.orange {
  color: #ef8f14;
}
.progress-section__block {
  width: 99%;
  zoom: 1;
  border: solid 1px #67717a;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}
.progress-section__block:before,
.progress-section__block:after {
  content: "";
  display: table;
}
.progress-section__block:after {
  clear: both;
}
.progress-section__block-img {
  width: 487px;
  float: left;
  padding-left: 64px;
  padding-bottom: 19px;
  padding-top: 7px;
}
.progress-section__block-text {
  float: left;
  font-size: 52.5px;
  color: #f5faff;
  text-align: left;
  padding-left: 40px;
  padding-top: 5px;
}
.calendar-section {
  padding-bottom: 120px;
}
.calendar-section__calendar {
  position: relative;
}
.calendar-section__calendar-i {
  width: 100%;
  height: 430px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.calendar-section__calendar-img {
  position: absolute;
  width: 650px;
  top: 47px;
  left: 135px;
}
.calendar-section__phone {
  width: 100%;
}
.calendar-section__add {
  position: absolute;
  top: 279px;
  left: 564px;
}
.calendar-section__popup {
  position: absolute;
  top: 147px;
  left: 50%;
  margin-left: -350px;
}
.calendar-section__popup-i {
  position: absolute;
  top: 0;
  left: 0;
}
.calendar-section__checked {
  position: absolute;
  top: 250px;
  left: 368px;
}
.calendar-section__checked-i {
  position: absolute;
  top: 0;
  left: 0;
}
.calendar-section__drawing,
.calendar-section__drawing-active {
  position: absolute;
  top: 234px;
  left: 368px;
}
.calendar-section__drawing-set {
  position: absolute;
  top: 237px;
  left: 539px;
}
.calendar-section__drawing-i {
  position: absolute;
  top: 0;
  left: 0;
}
.calendar-section__add-workout {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -75px;
}
.calendar-section__add-workout-i {
  position: absolute;
  bottom: 0;
  left: 0;
}
.famous-section__content {
  position: relative;
  height: 970px;
}
.famous-section__salut {
  position: absolute;
  top: 0;
  left: 0;
}
.famous-section__info {
  position: absolute;
  right: 84px;
  bottom: 100px;
}
.famous-section__info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  zoom: 1;
}
.famous-section__info-list:before,
.famous-section__info-list:after {
  content: "";
  display: table;
}
.famous-section__info-list:after {
  clear: both;
}
.famous-section__info-item {
  position: absolute;
  top: -55px;
  left: 0;
}
.famous-section__info-item:nth-child(2) {
  left: 60px;
}
.famous-section__info-item:nth-child(3) {
  left: 120px;
}
.famous-section__info-text {
  font-size: 32px;
  color: #9babba;
  text-align: left;
  margin-top: 10px;
  line-height: 45px;
}
.famous-section__info-text strong {
  color: #f5faff;
}
.achievements-section {
  padding-top: 70px;
}
.achievements-section__block {
  width: 99%;
  zoom: 1;
  border: solid 1px #67717a;
  padding-right: 60px;
  padding-left: 80px;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}
.achievements-section__block:before,
.achievements-section__block:after {
  content: "";
  display: table;
}
.achievements-section__block:after {
  clear: both;
}
.achievements-section__text {
  font-size: 52.5px;
  color: #f5faff;
  float: left;
  text-align: left;
  margin: 0;
  margin-top: 58px;
}
.achievements-section__img {
  width: 421px;
  float: left;
  padding-left: 63px;
  padding-top: 37px;
  height: 297px;
  overflow: hidden;
  position: relative;
}
.achievements-section__prize {
  width: 353px;
}
.achievements-section__hand1 {
  width: 323px;
  position: absolute;
  bottom: 0;
  right: 34px;
}
.achievements-section__hand2 {
  width: 353px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.achievements-section__download {
  margin-top: 75px;
  margin-bottom: 131px;
}
.achievements-section__download-text {
  font-size: 40px;
  color: #9babba;
}
.cards-section__title {
  margin-bottom: 77px;
  padding-left: 35px;
}
.cards-section__list {
  position: relative;
  height: 430px;
  list-style: none;
  padding: 0;
  margin: 0;
  zoom: 1;
  border-bottom: solid 1px #616c75;
}
.cards-section__list:before,
.cards-section__list:after {
  content: "";
  display: table;
}
.cards-section__list:after {
  clear: both;
}
.cards-section__item {
  position: absolute;
}
.cards-section__item.first {
  left: 0;
  z-index: 30;
}
.cards-section__item.second {
  left: 50%;
  margin-left: -250px;
  z-index: 20;
}
.cards-section__item.last {
  right: 0;
  z-index: 10;
}
.cards-section__text {
  zoom: 1;
  color: #9babba;
  font-size: 40px;
  margin-top: 5px;
}
.cards-section__text:before,
.cards-section__text:after {
  content: "";
  display: table;
}
.cards-section__text:after {
  clear: both;
}
.cards-section__column {
  float: left;
  width: 50%;
  text-align: left;
  line-height: 55px;
  position: relative;
}
.cards-section__column:first-child {
  padding-right: 25px;
  padding-left: 46px;
}
.cards-section__column:first-child:before {
  content: url("../img/open-quot.svg");
  margin-left: -41px;
  width: 30px;
  display: inline-block;
}
.cards-section__column:last-child {
  padding-right: 46px;
  padding-left: 25px;
}
.cards-section__column:last-child:after {
  content: url("../img/open-quot.svg");
  margin-right: -30px;
  width: 30px;
  display: inline-block;
}
.main-menu {
  display: inline-block;
}
.main-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  zoom: 1;
}
.main-menu__list:before,
.main-menu__list:after {
  content: "";
  display: table;
}
.main-menu__list:after {
  clear: both;
}
.main-menu__item {
  float: left;
  margin-right: 38px;
}
.main-menu__item:last-child {
  margin-right: 0;
}
.main-menu__link {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.main-menu__link:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
.main-menu__link_inactive {
  opacity: 0.4 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)" !important;
  filter: alpha(opacity=40) !important;
}
.main-menu_right {
  float: right;
}
.main-menu_center {
  display: block;
  width: 370px;
  margin: 0 auto;
}
.site-footer {
  padding: 40px 0;
  border-top: solid 1px #67717a;
}
.site-header {
  zoom: 1;
  border-bottom: solid 1px #616c75;
  padding-top: 30px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 3px;
}
.site-header:before,
.site-header:after {
  content: "";
  display: table;
}
.site-header:after {
  clear: both;
}
.site-header__logo {
  float: left;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.site-header__logo:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
.site-header .main-menu {
  padding-top: 5px;
}
