.btn
    display inline-block
    background $red
    padding 12px 52px
    border-radius 35px
    transition background .3s
    &:hover
        background darken(@background, 10%)
    img
        padding-top 5px
    &_inactive
        img
            opacity .4
        &:hover
            background @background