.famous-section
    &__content
        position relative
        height 970px
    &__salut
        position absolute
        top 0
        left 0
    &__info
        position absolute
        right 84px
        bottom 100px
    &__info-list
        list-style none
        padding 0
        margin 0
        clearfix()
    &__info-item
        position absolute
        top -55px
        left 0
        &:nth-child(2)
            left 60px
        &:nth-child(3)
            left 120px
    &__info-text
        font-size 32px
        color #9babba
        text-align left
        margin-top 10px
        line-height 45px
        strong
            color #f5faff
