.hide
    display none

body
    display none

html
    background #2a3845


*
    box-sizing border-box

.container
    width 943px
    margin 0 auto
    text-align center
    overflow hidden

.section
    background #2a3845
    &:nth-of-type(even)
        background #2f3d4a