.main-section
    padding-bottom 60px
    &__content
        margin-top 70px
        clearfix()
    &__phone
        position relative
        width 440px
        height 660px
        overflow hidden
        float left
    &__phone-img
        width 427px
        padding-left 13px
    &__carousel
        position absolute
        top 225px
        width 100%
        padding 0 100px
        padding-right 47px
        img
            width 240px
            height 360px
            margin-right 30px
            &:last-child
                margin-right 0
        .ocarousel_indicators
            margin-right 70px
    &__description
        float right
        width 470px
        text-align center
    &__square
        margin-top 88px
        width 120px
        height 120px
        border-radius 30px
        background #D5D9DC
        display inline-block
    &__title
        margin-top 10px
        margin-bottom 57px
    &__price
        margin-top 18px