.progress-section
    &__title
        margin-bottom 20px
        .pink
            color #D966A9
        .blue
            color #40AEEB
        .orange
            color #EF8F14
    &__list
        width 839px
        height 350px
        position relative
        list-style none
        padding 0
        margin 0 auto
    &__item
        position absolute
        width 180px
        height 180px
        &.last
            right 0
            left inherit
        &.second
            left 50%
            margin-left -90px
            margin-top 68px
    &__img
        position absolute
        top 0
        left 0
    &__img-full
        position absolute
        bottom 0
        left 0
        width 180px
        height 180px
        overflow hidden
    &__img-full-i
        position absolute
        bottom 0
        left 0
        width 180px
        height 180px
    &__counter
        width 100%
        font-size 50.49px
        position absolute
        bottom -90px
        &.pink
            color #D966A9
        &.blue
            color #40AEEB
        &.orange
            color #EF8F14