.site-header
    clearfix()
    border-bottom solid 1px #616C75
    padding-top 30px
    padding-bottom 13px
    padding-left 22px
    padding-right 3px
    &__logo
        float left
        transition opacity .3s
        &:hover
            opacity .75
    .main-menu
        padding-top 5px